html, body{
  background-color: #095e8c;
  font-family: Poppins-Regular, sans-serif;
}
header{
  width: 100%;
  height: 60px;
  background-color: #095e8c;
}
h1 {
  position: absolute;
  padding: 3px;
  float:left;
  margin-left: 2%;
  margin-top: 10px;
  color: white;
}
ul {
  width: auto;
  float: right;
  margin-top: 8px;
}
li {
  display: inline-block;
  padding: 15px 30px;
}
nav a, nav a:active, nav a:visited,nav a:focus {
  text-align: center;
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
  color: gray;
}
/*
#icons{
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 29px;
  margin-left: 0.5em;
  border: 2px solid white;
  border-radius: 100%;
  box-sizing: border-box;
  border: 2px solid white;
}*/
.container{
  font-family: "Calibri";
}

.cvd {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: "Calibri";
  font-size: 15px;
  transition: all 0.3s ease 0s;
  width: 80px;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: 2px solid white;
  border-radius: 20px;

  /* size comes from text & padding (no width/height) */
  padding: 0.8em 1em;

  /* make sure colors have enough contrast! */
  color: white;
  background-color: #095e8c;
}

.cvd:active {
  transform: translateY(2px);
  filter: saturate(150%);
  outline: none;
}

.cvd:hover {
  color: white;
  background-color: #095e8c;
}

.navbar-inverse, .nav.navbar-nav.navbar-right li a {
  -webkit-transition: background-color .25s ease-in;
  color: white;
  background-color: black;
  margin: 0;
}

.navbar-inverse {
  border-bottom: 3px solid #11abff;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.dropdown-menu {
  border-top: 3px solid #11abff;
  background-color: black;
}

.form-control{
  margin-top: -4px;
  margin-bottom: 15px;
  height: 35px;
  width: 250px;
  font-size: large;
}

dt {
  font-size: large;
}

.form-control.required {
  border: 1px solid red;
}

.flashes {
  color: #11abff;
  size: 100%;
}

.table, .table-striped, .table-hover {
  font-family: 'Calibri';
  background-color: white;
  border: 1px red;
  width: 100%;
}

#menu-toggle {
  color: white;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#menu-toggle li :hover {
  background-color: black;
  color: #e0e0e0;
}

.navbar-collapse.collapse {
  display: block!important;
  padding-right: 50px;
}

.navbar-right {
  float: right!important;
}

@media (max-width: 1200px) {

  #menu-toggle {
    display: block!important;
    float: left;
  }

  #toggle-off {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
}

#hidden {
  color: black;
  background-color: black;
}

.alert {
  font-size: 60px;
}
.save_name {
  float:left;
  padding-right: 20px;
}
