<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="JamesHarvey">
  <link rel="shortcut icon" href="{{url_for('static', filename='CVD-Logo-250px-sqaure.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Schedule - Machine Shop</title>
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/jquery.dataTables.min.js"></script>
  <script src="static/fas.js"></script>
  <script src="static/dataTables.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="static/dataTables.bootstrap4.min.css">
  <script src="static/buttons.flash.min.js"></script>
  <script src="static/dataTables.buttons.min.js"></script>
  <script src="static/buttons.print.min.js"></script>
  <script src="static/buttons.html5.min.js"></script>
  <script src="static/jszip.min.js"></script>

  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>


  <div style='padding-left: 10%; padding-right: 10%;'><br />
    <table id="myTable" class="table table-hover table-striped table-bordered" {{ table }} </div> </body> </html>
