<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="JamesHarvey">
  <link rel="shortcut icon" href="{{url_for('static', filename='CVD-Logo-250px-sqaure.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Schedule - Machine Shop</title>
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <script src="../static/jquery.min.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  <script src="../static/jquery.dataTables.min.js"></script>
  <script src="../static/dataTables.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="../static/dataTables.bootstrap4.min.css">
  <script src="../static/buttons.flash.min.js"></script>
  <script src="../static/dataTables.buttons.min.js"></script>
  <script src="../static/buttons.print.min.js"></script>
  <script src="../static/buttons.html5.min.js"></script>
  <script src="../static/jszip.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">

  <script>
    $(document).ready(function() {
      $('#myTable').DataTable({
        "dom": 'Brftip',
        "deferRender": true,
        buttons: [
          {
            extend: 'copy',
            text: 'COPY',
            className: 'cvd'
          },
          {
            extend: 'csv',
            text: 'CSV',
            className: 'cvd'
          },
          {
            extend: 'excel',
            text: 'EXCEL',
            className: 'cvd'
          },
          {
            extend: 'print',
            text: 'PRINT',
            className: 'cvd'
          }
        ],
        "order": [
          [0, "desc"]
        ],
        "pageLength": 100
      });
    });
  </script>

  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<header>
  <nav>
    <ul>
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('search')}}">Schedule</a></li>
      <li><a href="{{url_for('register')}}">Register</a></li>
      <li><a href="{{url_for('login')}}">Login</a></li>
    </ul>
  </nav>
</header>

<body>


  <div><br />
    <table id="myTable" class="table table-hover table-striped table-bordered" {{ table }} </div> </body> </html>
