<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="JamesHarvey">
  <link rel="shortcut icon" href="../static/images/CVD-Logo-250px-square.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Schedule - Machine Shop</title>

  <!-- Bootstrap css, js, and jQuery -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <!-- Datatables -->
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <script src="../static/js/dataTables.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/css/fixedHeader.dataTables.min.css">
  <script src="../static/js/dataTables.fixedHeader.min.js"></script>
  <script src="../static/js/buttons.flash.min.js"></script>
  <script src="../static/js/dataTables.buttons.min.js"></script>
  <script src="../static/js/buttons.print.min.js"></script>
  <script src="../static/js/buttons.html5.min.js"></script>
  <script src="../static/js/jszip.min.js"></script>
  <script src="../static/js/tables.js"></script>

  <!-- Fontawesome -->
  <link rel='../stylesheet' href='../static/css/fas.css'>
  <script src='../static/js/fas.js'></script>

  <!-- Custom styling (styles.css), and login/register styling (main.css) -->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  <!-- JavaScript for datatables -->
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable({
        "dom": 'Brftip',
        "deferRender": true,
        fixedHeader: {
          header: true,
          headerOffset: -10
        },
        buttons: [{
            extend: 'copy',
            text: 'COPY',
            className: 'cvd'
          },
          {
            extend: 'csv',
            text: 'CSV',
            className: 'cvd'
          },
          {
            extend: 'excel',
            text: 'EXCEL',
            className: 'cvd'
          },
          {
            extend: 'print',
            text: 'PRINT',
            className: 'cvd'
          }
        ],
        "order": [
          [10, "asc"]
        ],
        "pageLength": 100
      });
    });
  </script>

</head>

<!-- Nav bar links -->
<header>
  <nav>
    <ul>
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('schedules')}}">Schedules</a></li>
      <li><a href="{{url_for('register')}}">Register</a></li>
      <li><a href="{{url_for('login')}}">Login</a></li>
    </ul>
  </nav>
</header>

<body>


  <div><br />
    <table id="myTable" class="table table-hover table-striped table-bordered" {{ table }} </div>
    <script>highlightRows();</script><br />
    <script>
      changeDeleteToTrashIcon();
    </script>

      <div class="foo red"></div>
      <p> = Over time</p><br />
      <div class="foo yellow"></div>
      <p> = Under quantity</p><br />
      <div class="foo orange"></div>
      <p> = Both</p><br />
</body>

</html>
